<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Triangle</title>
</head>
<body>
<form method="POST" action="">
    {% csrf_token %}
    <div style="padding: 20px">
        <table>
            {{ form.as_table }}
        </table>
        <br><br><input type="submit" value="Submit">
    </div>
</form>

</body>
</html>